# Pandas

In [1]:
import pandas as pd
import numpy as np

## Series

In [20]:
s = pd.Series(np.random.randn(1000))
s.head() # shows the first n (standard: 5) rows of a dataframe

0    0.127840
1    2.227686
2   -1.391158
3   -3.555965
4   -0.572158
dtype: float64

## DataFrames

In [6]:
df = pd.DataFrame(np.random.randn(10000, 5), columns=['a', 'b', 'c', 'd', 'e'])
df.head() # shows the first n (standard: 5) rows of a dataframe

          a         b         c         d         e
0 -0.136308 -0.469598 -0.286588 -0.475261 -0.439171
1 -1.722211 -1.509057 -1.233524 -1.630244 -2.182266
2 -0.965703 -2.411153  0.334369  0.918332  0.369239
3  0.338126 -0.670595  0.789422 -0.503281 -0.246445
4 -0.422420  0.647921 -1.198769  0.889279 -0.127703

Construct a Pandas DataFrame from numpy random numbers

In [7]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
e    float64
dtype: object

In [14]:
df['f'] = df['a'] + df.b * df.c * np.exp(df.d) / df.e

Definition of a new column using vectorized calculations. Numpy functions can be used here (Pandas columns are actually numpy arrays).

In [21]:
df['g'] = df.f.astype(np.int64)
df.head()

,a,b,c,d,e,f,g,h
0,-0.136308,-0.469598,-0.286588,-0.475261,-0.439171,-0.326831,0,-0.326831433117755
1,-1.722211,-1.509057,-1.233524,-1.630244,-2.182266,-1.889297,-1,-1.8892971351314436
2,-0.965703,-2.411153,0.334369,0.918332,0.369239,-6.435472,-6,-6.435472181149356
3,0.338126,-0.670595,0.789422,-0.503281,-0.246445,1.636732,1,1.6367317750204309
4,-0.422420,0.647921,-1.198769,0.889279,-0.127703,14.377684,14,14.377684482851306