# Pandas

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None # display all columns in notebook

## Download Sample Data

In [1]:
import os
import urllib.request

In [2]:
url = 'https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2018-01.csv' # 70 MB
csvfile = '../example_files/test_data.csv'
if not os.path.exists(csvfile):
    print('downloading sample data')
    urllib.request.urlretrieve(url, csvfile)

downloading sample data

## Series

In [4]:
s = pd.Series(np.random.randn(1000))
s.head() # shows the first n (standard: 5) rows of a dataframe

0   -0.229725
1    0.248501
2    1.827603
3   -0.643470
4   -1.330106
dtype: float64

In [5]:
type(s.index), type(s.values)

(pandas.core.indexes.range.RangeIndex, numpy.ndarray)

A Pandas Series is actually a numpy array with an index.

## DataFrames

In [6]:
df_rdn = pd.DataFrame(np.random.randn(10000, 5), columns=['a', 'b', 'c', 'd', 'e'])
df_rdn.head() # shows the first n (standard: 5) rows of a dataframe

          a         b         c         d         e
0  0.168629 -1.396017  1.007475 -0.555405  0.504369
1  0.056246 -0.465622  0.480935  1.049594 -0.322133
2  0.398782  0.443204  0.221876 -0.101678 -0.113244
3  1.455685  0.080307 -0.223034  1.046918 -1.266838
4 -1.552577  0.181166 -2.392206  0.654899  0.503213

Construct a Pandas DataFrame from numpy random numbers

In [7]:
type(df_rdn.index), type(df_rdn.a), type(df_rdn.a.values), type(df_rdn['b'])

(pandas.core.indexes.range.RangeIndex,
 pandas.core.series.Series,
 numpy.ndarray,
 pandas.core.series.Series)

A DataFrame is an index combined with multiple columns. 

Each column can be extracted as a Pandas Series (the column values together with the index).

Access to columns (as Series) is either possible with the syntax df['col'] or df.col (the latter only if the column is a valid Python name, i.e. it does not contain invalid characters like spaces, +, -, etc.).

In [8]:
df_taxi = pd.read_csv(csvfile)
df_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0

In [9]:
len(df_taxi)

793529

Construct DataFrame from csv file

### Column Types

In [10]:
df_taxi.dtypes # show data types of columns

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                float64
dtype: object

Numerical data types (integers, floats) are usually detected automatically during csv import.
Date (-time) columns are not identified automatically but imported as *object* (analogue to strings).

In [11]:
df_taxi.lpep_pickup_datetime = pd.to_datetime(df_taxi.lpep_pickup_datetime)
df_taxi.lpep_dropoff_datetime = pd.to_datetime(df_taxi.lpep_dropoff_datetime)

In [12]:
df_taxi.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                       float64
dtype: object

Ex-post conversion to Pandas Datetime using *pd.to_datetime()*. An explicit datetime format can be passed if Pandas cannot identify it automatically.

In [5]:
df_taxi = pd.read_csv(csvfile, parse_dates=[1, 2])
df_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0

In [14]:
df_taxi.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                       float64
dtype: object

Datetime conversion during csv import by specifying datetime columns.

### Filtering

In [15]:
df_taxi_clean = df_taxi[df_taxi.total_amount > 0]
print(f'{len(df_taxi) - len(df_taxi_clean)} lines with non-positive payments removed')

3646 lines with non-positive payments removed

Meaning of this syntax: take all elements of df where the filter condition inside the brackets is True. The filter condition is actually a Pandas Series:

In [16]:
filter_ = df_taxi.total_amount > 0
filter_.head()

0     True
1     True
2     True
3    False
4     True
Name: total_amount, dtype: bool

In [17]:
df_taxi_clean = df_taxi[(df_taxi.total_amount > 0) & (df_taxi.passenger_count > 0)]
print(f'{len(df_taxi) - len(df_taxi_clean)} '
      f'lines with non-positive payments and passengers removed')

3817 lines with non-positive payments and passengers removed

Multiple conditions can be used for filtering using the operators & (and), | (or), ~ (not). Brackets must be made around the comparisons.

The syntax above is the most common one.

In [18]:
%timeit df_taxi_clean = df_taxi[(df_taxi.total_amount > 0) & (df_taxi.passenger_count > 0)] 
# filtering of 800k lines

130 ms ± 356 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
df_taxi_clean2 = df_taxi.loc[(df_taxi.total_amount > 0) & (df_taxi.passenger_count > 0),:]

In [20]:
pd.testing.assert_frame_equal(df_taxi_clean, df_taxi_clean2)
# raises AssertionError if DataFrames are different

In [21]:
%timeit df_taxi_clean2 = df_taxi.loc[(df_taxi.total_amount > 0) & (df_taxi.passenger_count > 0),:]

146 ms ± 159 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Alternative syntax using df.loc[row, col] gives identical results in same time.

In [22]:
df_taxi_clean3 = df_taxi.query('total_amount > 0 and passenger_count > 0')

In [23]:
pd.testing.assert_frame_equal(df_taxi_clean, df_taxi_clean3)

In [24]:
%timeit df_taxi_clean3 = df_taxi.query('total_amount > 0 and passenger_count > 0')

156 ms ± 294 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Yet another (rather exotic) filtering syntax, where the condition is given as a sting of Python code.

In [25]:
del df_taxi_clean2, df_taxi_clean3

### Vectorized Calculations on Columns

In [26]:
df_rdn['f'] = df_rdn['a'] + df_rdn.b * df_rdn.c * np.exp(df_rdn.d) / df_rdn.e
df_rdn['g'] = df_rdn.f.astype(np.int64) # type conversion
df_rdn.head()

          a         b         c         d         e         f  g
0  0.168629 -1.396017  1.007475 -0.555405  0.504369 -1.431547 -1
1  0.056246 -0.465622  0.480935  1.049594 -0.322133  2.041966  2
2  0.398782  0.443204  0.221876 -0.101678 -0.113244 -0.385627  0
3  1.455685  0.080307 -0.223034  1.046918 -1.266838  1.495963  1
4 -1.552577  0.181166 -2.392206  0.654899  0.503213 -3.210413 -3

Definition of a new column using vectorized calculations. Numpy functions can be used here (as described above, Pandas columns are actually numpy arrays).

The index makes sure that for operations with Series the rows are matched correctly.

In [27]:
df_taxi['drive_time'] = df_taxi.lpep_dropoff_datetime - df_taxi.lpep_pickup_datetime
df_taxi['avg_speed'] = df_taxi.trip_distance / (df_taxi.drive_time.dt.seconds / 3600)
df_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0,00:05:49,7.220630
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0,00:16:16,12.909836
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0,00:12:20,10.410811
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0,00:01:01,1.770492
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0,00:01:01,1.770492

Operations on Pandas Datetime and Timedelta objects.

### Apply Syntax

In [23]:
df_sample = df_taxi.sample(n=1000)

In [29]:
df_sample['useless_string']=df_sample.apply(lambda x: str(x['passenger_count'])+'_'+str(x['payment_type']),axis=1)
df_sample.useless_string.head()

355692    1_2
430185    1_1
491288    1_1
434187    2_1
73867     1_2
Name: useless_string, dtype: object

In [30]:
%timeit df_sample['useless_string']=df_sample.apply(lambda x: str(x['passenger_count'])+'_'+str(x['payment_type']),axis=1)

115 ms ± 133 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Calculations which cannot be executed on whole columns at once can be applied element-wise (usually slower but more versatile than applying on whole column).

In [31]:
df_sample['useless_string2']=df_sample.passenger_count.astype('str')+'_'+df_sample.payment_type.astype('str')
df_sample.useless_string2.head()

355692    1_2
430185    1_1
491288    1_1
434187    2_1
73867     1_2
Name: useless_string2, dtype: object

In [32]:
%timeit df_sample['useless_string2']=df_sample.passenger_count.astype('str')+'_'+df_sample.payment_type.astype('str')

6.85 ms ± 44 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [33]:
df_taxi.payment_type.unique()

array([2, 3, 1, 4, 5])

The same as vectorized syntax is more than 10 times faster.
However, the apply syntax is more flexible.

In [24]:
payments = {1: 'cash',
    2: 'credit card',
    3: 'debit card',
    4: 'gold',
    5: 'bill'}

In [34]:
df_sample.payment_type.apply(lambda x: payments.get(x, None)).head()

355692    credit card
430185           cash
491288           cash
434187           cash
73867     credit card
Name: payment_type, dtype: object

In [35]:
%timeit df_sample.payment_type.apply(lambda x: payments.get(x, None))

1.09 ms ± 6.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

The apply function can be used both on Pandas Series and DataFrames.

### Mapping

In [36]:
df_sample.payment_type.map(payments).head()

355692    credit card
430185           cash
491288           cash
434187           cash
73867     credit card
Name: payment_type, dtype: object

In [37]:
%timeit df_sample.payment_type.map(payments)

1.49 ms ± 5.65 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

Alternatively in this example, the map function can be used to apply a dictionary to a Pandas Series.

### Iteration over Rows

#### iterrows()

In [38]:
for index, row in df_sample.head(2).iterrows():
    print(index, row)

355692 VendorID                                   2
lpep_pickup_datetime     2018-01-15 13:13:33
lpep_dropoff_datetime    2018-01-15 13:33:28
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                              95
DOLocationID                             198
passenger_count                            1
trip_distance                           5.57
fare_amount                               19
extra                                      0
mta_tax                                  0.5
tip_amount                                 0
tolls_amount                               0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                            19.8
payment_type                               2
trip_type                                  1
drive_time                   0 days 00:19:55
avg_speed                            16.7799
useless_string                           1_2
useless_string2                          1_2
Name: 355692, dtype: object
430185 VendorID                                   2
lpep_pickup_datetime     2018-01-18 15:04:51
lpep_dropoff_datetime    2018-01-18 15:54:32
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                              55
DOLocationID                              39
passenger_count                            1
trip_distance                           9.69
fare_amount                               35
extra                                      0
mta_tax                                  0.5
tip_amount                                 0
tolls_amount                               0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                            35.8
payment_type                               1
trip_type                                  1
drive_time                   0 days 00:49:41
avg_speed                            11.7021
useless_string                           1_1
useless_string2                          1_1
Name: 430185, dtype: object

In [39]:
type(row) # iterrows returns Pandas Series

pandas.core.series.Series

In [40]:
for index, row in df_sample.iterrows():
    row['useless_string_3'] = (str(row['passenger_count']) + '_' 
                               + str(row['payment_type']))

In [41]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2

Adding new "colums" to the row dictionaries does not change the original DataFrame.

In [42]:
res = []
for index, row in df_sample.iterrows():
    res.append(str(row['passenger_count']) + '_' 
                               + str(row['payment_type']))
df_sample['useless_string_3'] = res

In [43]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2,useless_string_3
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2,1_2

In [44]:
%%timeit
res = []
for index, row in df_sample.iterrows():
    res.append(str(row['passenger_count']) + '_' 
                               + str(row['payment_type']))
df_sample['useless_string_3'] = res

279 ms ± 1.15 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

This version now adds the new column to the DataFrame, but takes about 2.5 times the time as using the row-wise apply function and about 30 times the time as the vectorized version.

In [45]:
df_mixed_type = pd.DataFrame([{'int': 1, 'float': 2.5}, {'int': 3, 'float': 3.14}])
df_mixed_type

   float  int
0   2.50    1
1   3.14    3

In [46]:
df_mixed_type.dtypes

float    float64
int        int64
dtype: object

In [47]:
for idx, row in df_mixed_type.iterrows():
    print(row['int'], type(row['int']))
    print(row['float'], type(row['float']))

1.0 <class 'numpy.float64'>
2.5 <class 'numpy.float64'>
3.0 <class 'numpy.float64'>
3.14 <class 'numpy.float64'>

*iterrows()* does not preserve data types. In the example above, the values in the integer column are converted into floats.

#### itertuples()

In [48]:
for row in df_sample.head(2).itertuples():
    print(row)

Pandas(Index=355692, VendorID=2, lpep_pickup_datetime=Timestamp('2018-01-15 13:13:33'), lpep_dropoff_datetime=Timestamp('2018-01-15 13:33:28'), store_and_fwd_flag='N', RatecodeID=1, PULocationID=95, DOLocationID=198, passenger_count=1, trip_distance=5.57, fare_amount=19.0, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=nan, improvement_surcharge=0.3, total_amount=19.8, payment_type=2, trip_type=1.0, drive_time=Timedelta('0 days 00:19:55'), avg_speed=16.779916317991635, useless_string='1_2', useless_string2='1_2', useless_string_3='1_2')
Pandas(Index=430185, VendorID=2, lpep_pickup_datetime=Timestamp('2018-01-18 15:04:51'), lpep_dropoff_datetime=Timestamp('2018-01-18 15:54:32'), store_and_fwd_flag='N', RatecodeID=1, PULocationID=55, DOLocationID=39, passenger_count=1, trip_distance=9.69, fare_amount=35.0, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=nan, improvement_surcharge=0.3, total_amount=35.8, payment_type=1, trip_type=1.0, drive_time=Timedelta('0 days 00:49:41'), avg_speed=11.702113384770211, useless_string='1_1', useless_string2='1_1', useless_string_3='1_1')

In [49]:
type(row), row[5], row.passenger_count, row.trip_distance 
# data structure similar to NamedTuple

(pandas.core.frame.Pandas, 1, 1, 9.69)

In [50]:
res = []
for row in df_sample.itertuples():
    res.append(str(row.passenger_count) + '_' 
                               + str(row.payment_type))
df_sample['useless_string_4'] = res

In [51]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2,useless_string_3,useless_string_4
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2,1_2,1_2

In [52]:
%%timeit
res = []
for row in df_sample.itertuples():
    res.append(str(row.passenger_count) + '_' 
                               + str(row.payment_type))
df_sample['useless_string_4'] = res

62.1 ms ± 126 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Itertuples is about 4 times faster than iterrows, even though it provides practically the same functionality.
In this example, *itertuples* is even faster than *apply*, however this may not always be the case.

In [53]:
for row in df_mixed_type.itertuples():
    print(row.int, type(row.int))
    print(row.float, type(row.float))

1 <class 'int'>
2.5 <class 'float'>
3 <class 'int'>
3.14 <class 'float'>

In contrast to *iterrows()*, *itertuples()* preserves data types.

#### Looping with Explicit Row Access

In [54]:
res = []
passenger_count_loc = df_sample.columns.get_loc('passenger_count')
payment_type_loc = df_sample.columns.get_loc('payment_type')
for i in range(len(df_sample)):
    res.append(str(df_sample.iloc[i,passenger_count_loc]) + '_' 
                               + str(df_sample.iloc[i,payment_type_loc]))
df_sample['useless_string_5'] = res

In [55]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2,useless_string_3,useless_string_4,useless_string_5
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2,1_2,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1,1_1,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1,1_1,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1,2_1,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2,1_2,1_2,1_2

In [56]:
%%timeit
res = []
passenger_count_loc = df_sample.columns.get_loc('passenger_count')
payment_type_loc = df_sample.columns.get_loc('payment_type')
for i in range(len(df_sample)):
    res.append(str(df_sample.iloc[i,passenger_count_loc]) + '_' 
                               + str(df_sample.iloc[i,payment_type_loc]))
df_sample['useless_string_5'] = res

74.3 ms ± 105 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Slightly different approach using *.loc* instead of *.iloc* gives much shorter code:

In [73]:
res = []
for i in df_sample.index:
    res.append(str(df_sample.loc[i, 'passenger_count']) + '_' 
                               + str(df_sample.loc[i, 'payment_type']))
df_sample['useless_string_6'] = res

In [74]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2,useless_string_3,useless_string_4,useless_string_5,useless_string_6
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2,1_2,1_2,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1,1_1,1_1,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1,1_1,1_1,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1,2_1,2_1,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2,1_2,1_2,1_2,1_2

In [75]:
%%timeit
res = []
for i in df_sample.index:
    res.append(str(df_sample.loc[i, 'passenger_count']) + '_' 
                               + str(df_sample.loc[i, 'payment_type']))
df_sample['useless_string_6'] = res

69.3 ms ± 49.6 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Looping with explicit access of DataFrame positions takes only slightly longer as *itertuples()*. The code however may be a bit more complicated.

### Summary DataFrame Calculations

1. Use vectorized calculations on Numpy arrays wherever possible. This is by far the fastest way. Note that in addition to simple calculations, practically all Numpy functions work on Numpy arrays and therefore also on Pandas Series / DataFrames.
2. If it is not possible to vectorize a calculation, use either the *apply* syntax or iterate over the DataFrame using *itertuples()* or *.loc*. If required, parallelization could be used for speed-up, see [Multithreading and Multiprocessing](parallel_computing.ipynb).
3. Never use *iterrows()*. It is much slower than *itertuples()* and does not preserve data types.

## Indices and Multi-Indices

In [64]:
df_taxi.index

RangeIndex(start=0, stop=793529, step=1)

If no index is specified explicitly, Pandas creates a *RangeIndex* containing integer numbers from 0 to n-1.

In [73]:
df_taxi_new_index = df_taxi.set_index('lpep_pickup_datetime')
df_taxi_new_index.index

DatetimeIndex(['2018-01-01 00:18:50', '2018-01-01 00:30:26',
               '2018-01-01 00:07:25', '2018-01-01 00:32:40',
               '2018-01-01 00:32:40', '2018-01-01 00:38:35',
               '2018-01-01 00:18:41', '2018-01-01 00:38:02',
               '2018-01-01 00:05:02', '2018-01-01 00:35:23',
               ...
               '2018-01-31 23:09:04', '2018-01-31 23:36:22',
               '2018-01-31 23:38:46', '2018-01-31 23:10:17',
               '2018-01-31 23:34:07', '2018-01-31 23:42:10',
               '2018-02-01 00:00:48', '2018-01-31 23:19:43',
               '2018-01-31 23:57:59', '2018-01-31 23:30:45'],
              dtype='datetime64[ns]', name='lpep_pickup_datetime', length=793529, freq=None)

In [74]:
df_taxi_new_index.head()

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2018-01-01 00:18:50,2,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0
2018-01-01 00:30:26,2,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0
2018-01-01 00:07:25,2,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0
2018-01-01 00:32:40,2,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0
2018-01-01 00:32:40,2,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0

A column of the DataFrame can be set as the new index.

Note that the index does not need to be unique.

In [75]:
df_taxi_new_index.reset_index().head()

,lpep_pickup_datetime,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2018-01-01 00:18:50,2,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0
1,2018-01-01 00:30:26,2,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0
2,2018-01-01 00:07:25,2,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0
3,2018-01-01 00:32:40,2,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0
4,2018-01-01 00:32:40,2,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0

Reset index: the index is converted to regular column(s) and a new *RangeIndex* is set.

In [79]:
df_taxi_new_index2 = df_taxi.set_index(['VendorID', 'lpep_pickup_datetime'])
df_taxi_new_index2.head()

                              lpep_dropoff_datetime store_and_fwd_flag  \
VendorID lpep_pickup_datetime
2        2018-01-01 00:18:50    2018-01-01 00:24:39                  N
         2018-01-01 00:30:26    2018-01-01 00:46:42                  N
         2018-01-01 00:07:25    2018-01-01 00:19:45                  N
         2018-01-01 00:32:40    2018-01-01 00:33:41                  N
         2018-01-01 00:32:40    2018-01-01 00:33:41                  N

                               RatecodeID  PULocationID  DOLocationID  \
VendorID lpep_pickup_datetime
2        2018-01-01 00:18:50            1           236           236
         2018-01-01 00:30:26            1            43            42
         2018-01-01 00:07:25            1            74           152
         2018-01-01 00:32:40            1           255           255
         2018-01-01 00:32:40            1           255           255

                               passenger_count  trip_distance  fare_amount  \
VendorID lpep_pickup_datetime
2        2018-01-01 00:18:50                 5           0.70          6.0
         2018-01-01 00:30:26                 5           3.50         14.5
         2018-01-01 00:07:25                 1           2.14         10.0
         2018-01-01 00:32:40                 1           0.03         -3.0
         2018-01-01 00:32:40                 1           0.03          3.0

                               extra  mta_tax  tip_amount  tolls_amount  \
VendorID lpep_pickup_datetime
2        2018-01-01 00:18:50     0.5      0.5         0.0           0.0
         2018-01-01 00:30:26     0.5      0.5         0.0           0.0
         2018-01-01 00:07:25     0.5      0.5         0.0           0.0
         2018-01-01 00:32:40    -0.5     -0.5         0.0           0.0
         2018-01-01 00:32:40     0.5      0.5         0.0           0.0

                               ehail_fee  improvement_surcharge  total_amount  \
VendorID lpep_pickup_datetime
2        2018-01-01 00:18:50         NaN                    0.3           7.3
         2018-01-01 00:30:26         NaN                    0.3          15.8
         2018-01-01 00:07:25         NaN                    0.3          11.3
         2018-01-01 00:32:40         NaN                   -0.3          -4.3
         2018-01-01 00:32:40         NaN                    0.3           4.3

                               payment_type  trip_type
VendorID lpep_pickup_datetime
2        2018-01-01 00:18:50              2        1.0
         2018-01-01 00:30:26              2        1.0
         2018-01-01 00:07:25              2        1.0
         2018-01-01 00:32:40              3        1.0
         2018-01-01 00:32:40              2        1.0

## Grouping and Aggregation

In [7]:
taxi_grouped = df_taxi.groupby(['passenger_count', 'payment_type'])
taxi_grouped

In [80]:
taxi_grouped.mean()

                              VendorID  RatecodeID  PULocationID  \
passenger_count payment_type
1               1             1.845953    1.031332    121.545692
                2             1.854015    1.038929    118.875912
                3             1.666667    2.333333    147.000000
                4             2.000000    1.000000    149.000000
2               1             1.775510    1.163265    129.265306
                2             1.738095    1.119048    116.357143
3               1             1.800000    1.000000     86.200000
                2             1.636364    1.000000    147.454545
4               1             1.500000    1.000000    211.500000
                2             1.625000    1.500000    133.750000
5               1             2.000000    1.137931    182.620690
                2             2.000000    1.000000    111.625000
6               1             2.000000    1.285714    119.428571
                2             2.000000    1.000000     97.142857

                              DOLocationID  trip_distance  fare_amount  \
passenger_count payment_type
1               1               123.919060       3.455065    13.724543
                2               129.182482       2.449465    10.366180
                3               136.333333       0.490000    -2.166667
                4               149.000000       0.045000    -2.500000
2               1               151.306122       3.484694    14.244898
                2               123.238095       2.411190    11.142857
3               1               140.466667       3.354000    13.333333
                2                78.181818       1.980909     9.090909
4               1               131.000000       3.015000    12.500000
                2               132.125000       2.302500     7.312500
5               1               143.862069       3.095172    13.362069
                2               136.000000       2.877500    12.770833
6               1               143.571429       2.340714    11.000000
                2               102.142857       1.880000     9.285714

                                 extra   mta_tax  tip_amount  tolls_amount  \
passenger_count payment_type
1               1             0.496084  0.496084    2.494569      0.060157
                2             0.490268  0.490268    0.000000      0.014015
                3            -0.333333 -0.333333    0.000000      0.000000
                4            -0.500000 -0.500000    0.000000      0.000000
2               1             0.479592  0.479592    2.193673      0.000000
                2             0.476190  0.488095    0.000000      0.000000
3               1             0.500000  0.500000    2.814667      0.000000
                2             0.500000  0.500000    0.000000      0.000000
4               1             0.500000  0.500000    1.025000      0.000000
                2             0.437500  0.437500    0.000000      0.000000
5               1             0.482759  0.482759    2.947931      0.198621
                2             0.500000  0.500000    0.000000      0.000000
6               1             0.464286  0.464286    3.135000      0.000000
                2             0.500000  0.500000    0.000000      0.000000

                              ehail_fee  improvement_surcharge  total_amount  \
passenger_count payment_type
1               1                   NaN               0.297650     17.712037
                2                   NaN               0.294161     11.654891
                3                   NaN              -0.200000     -3.033333
                4                   NaN              -0.300000     -3.800000
2               1                   NaN               0.287755     17.804898
                2                   NaN               0.292857     12.400000
3               1                   NaN               0.300000     17.448000
                2                   NaN               0.300000     10.390909
4               1                   NaN               0.300000     14.825000
                2                   NaN               0.262500      8.450000
5               1                   NaN               0.289655     17.763793
                2                   NaN               0.300000     14.070833
6               1                   NaN               0.278571     15.620714
                2                   NaN               0.300000     10.585714

                              trip_type  amt_per_mile
passenger_count payment_type
1               1              1.007833           inf
                2              1.009732           inf
                3              1.333333    -52.483660
                4              1.000000    -85.500000
2               1              1.040816      6.678656
                2              1.023810    132.115467
3               1              1.000000      6.321971
                2              1.000000      6.176261
4               1              1.000000      5.811971
                2              1.125000      5.262157
5               1              1.034483           inf
                2              1.000000      6.056975
6               1              1.071429           inf
                2              1.000000      7.299022

Simultaneous aggregation over all columns

In [88]:
taxi_grouped.agg({'trip_distance': min, 'fare_amount': max, 'total_amount': np.median, 
                  'VendorID': 'nunique', 'trip_type': 'unique'})

                              trip_distance  fare_amount  total_amount  \
passenger_count payment_type
1               1                      0.00         53.0        14.160
                2                      0.00         61.5         9.800
                3                      0.03          0.0        -4.300
                4                      0.04         -2.5        -3.800
2               1                      0.50         55.0        16.000
                2                      0.01         52.0         9.300
3               1                      0.84         33.5        14.760
                2                      0.70         19.5         9.800
4               1                      1.60         16.0        14.825
                2                      0.43         12.5         9.050
5               1                      0.00         32.0        18.960
                2                      0.43         44.0        10.800
6               1                      0.00         28.5        14.555
                2                      0.27         13.0        10.300

                              VendorID   trip_type
passenger_count payment_type
1               1                    2  [1.0, 2.0]
                2                    2  [1.0, 2.0]
                3                    2  [1.0, 2.0]
                4                    1       [1.0]
2               1                    2  [1.0, 2.0]
                2                    2  [1.0, 2.0]
3               1                    2       [1.0]
                2                    2       [1.0]
4               1                    2       [1.0]
                2                    2  [2.0, 1.0]
5               1                    1  [1.0, 2.0]
                2                    1       [1.0]
6               1                    1  [1.0, 2.0]
                2                    1       [1.0]

Column specific aggregation functions.

In [12]:
agg = taxi_grouped.agg({'trip_distance': [min, max], 'fare_amount': max})
agg.head()

                             trip_distance         fare_amount
                                       min     max         max
passenger_count payment_type
0               1                      0.0   12.61       50.00
                2                      0.0   15.77       52.00
                3                      0.0    2.00        9.35
                4                      0.0    0.40        3.50
1               1                      0.0  113.72      376.00

More than one aggregation function may be defined per column, in this case a MultiIndex is created.

In [11]:
agg.columns = list(map('_'.join, agg.columns.values))
agg.head()

                              trip_distance_min  trip_distance_max  \
passenger_count payment_type
0               1                           0.0              12.61
                2                           0.0              15.77
                3                           0.0               2.00
                4                           0.0               0.40
1               1                           0.0             113.72

                              fare_amount_max
passenger_count payment_type
0               1                       50.00
                2                       52.00
                3                        9.35
                4                        3.50
1               1                      376.00

Convert column MultiIndex to single Index level

In [8]:
for i, (idx, df) in enumerate(taxi_grouped):
    print(idx)
    print(df.head())
    if i>1:
        break

(0, 1)
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
3111           2  2018-01-01 01:58:48   2018-01-01 01:58:50
45708          1  2018-01-02 22:31:12   2018-01-02 22:43:18
83450          1  2018-01-05 09:10:21   2018-01-05 09:13:08
110577         1  2018-01-06 06:18:54   2018-01-06 06:26:23
110773         1  2018-01-06 07:02:36   2018-01-06 07:13:33

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
3111                    N           5            42            42
45708                   N           1            74           262
83450                   N           1            75            74
110577                  N           1            74            75
110773                  N           1            74            24

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
3111                  0            0.0          8.0    0.0      0.0
45708                 0            2.7         11.5    0.5      0.5
83450                 0            0.6          4.0    0.0      0.5
110577                0            1.5          7.5    0.0      0.5
110773                0            1.8          9.5    0.0      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
3111          0.00           0.0        NaN                    0.0
45708         2.55           0.0        NaN                    0.3
83450         0.95           0.0        NaN                    0.3
110577        2.45           0.0        NaN                    0.3
110773        2.05           0.0        NaN                    0.3

        total_amount  payment_type  trip_type
3111            8.00             1        2.0
45708          15.35             1        1.0
83450           5.75             1        1.0
110577         10.75             1        1.0
110773         12.35             1        1.0
(0, 2)
       VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
7888          2  2018-01-01 02:53:51   2018-01-01 03:22:05                  N
44910         1  2018-01-02 21:44:53   2018-01-02 21:51:10                  N
46459         1  2018-01-02 23:31:19   2018-01-02 23:34:56                  N
47531         1  2018-01-03 03:36:38   2018-01-03 03:49:50                  N
71723         1  2018-01-03 22:18:27   2018-01-03 22:25:05                  N

       RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
7888            5           181           155                0           8.03
44910           1            75           236                0           1.80
46459           1            75            74                0           0.60
47531           1            41            42                0           2.40
71723           1            41            74                0           1.20

       fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
7888          45.0    0.0      0.0         0.0           0.0        NaN
44910          7.0    0.5      0.5         0.0           0.0        NaN
46459          4.5    0.5      0.5         0.0           0.0        NaN
47531         11.0    0.5      0.5         0.0           0.0        NaN
71723          6.5    0.5      0.5         0.0           0.0        NaN

       improvement_surcharge  total_amount  payment_type  trip_type
7888                     0.0          45.0             2        2.0
44910                    0.3           8.3             2        1.0
46459                    0.3           5.8             2        1.0
47531                    0.3          12.3             2        1.0
71723                    0.3           7.8             2        1.0
(0, 3)
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
59841          1  2018-01-03 15:58:19   2018-01-03 15:58:21
84398          1  2018-01-05 10:14:37   2018-01-05 10:14:37
84734          1  2018-01-05 10:16:31   2018-01-05 10:17:15
158346         1  2018-01-08 07:19:40   2018-01-08 07:19:40
217352         1  2018-01-10 12:37:33   2018-01-10 12:37:44

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
59841                   N           1           166           166
84398                   Y          99             7           264
84734                   N           1           166           166
158346                  Y          99           179           264
217352                  N           1            74            74

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
59841                 0            1.8         2.50    1.0      0.5
84398                 0            0.0         9.35    0.0      0.0
84734                 0            0.8         2.50    0.0      0.5
158346                0            0.0         5.75    0.0      0.0
217352                0            2.0         2.50    0.0      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
59841          0.0           0.0        NaN                    0.3
84398          0.0           0.0        NaN                    0.0
84734          0.0           0.0        NaN                    0.3
158346         0.0           0.0        NaN                    0.0
217352         0.0           0.0        NaN                    0.3

        total_amount  payment_type  trip_type
59841           4.30             3        1.0
84398           9.35             3        NaN
84734           3.30             3        1.0
158346          5.75             3        NaN
217352          3.30             3        1.0

Iterating over the grouped object yields the index and content of each group.

## Pivot Tables

In [21]:
df_taxi.pivot_table(index=['VendorID', 'passenger_count'], # y-axis
                    columns='payment_type', # x-axis
                    values=['total_amount', 'trip_distance'], # values to be aggregated 
                    aggfunc=np.sum, # aggregation function
                    margins=True, # displays totals (All) 
                    fill_value=0 # defines what is shown if there is no value for a cell 
                    # (defalt NaN)
                   )

                          total_amount                                    \
payment_type                         1             2         3         4
VendorID passenger_count
1        0                7.598100e+02  4.685000e+02     64.76      4.80
         1                9.628582e+05  6.200270e+05  23417.12  11063.44
         2                9.713782e+04  7.329303e+04   1129.70    848.70
         3                2.084252e+04  2.031397e+04    348.06    211.00
         4                5.851020e+03  6.259960e+03    116.50     10.30
         5                5.045900e+02  3.160600e+02      0.00      0.00
         6                4.091200e+02  8.440000e+01      0.00      0.00
2        0                4.490200e+02  5.128800e+02      0.00    -27.00
         1                4.881119e+06  2.886567e+06  -7545.07  -3149.81
         2                4.135209e+05  2.762388e+05  -1153.59   -203.40
         3                9.284539e+04  5.963688e+04   -310.30    -75.10
         4                3.707583e+04  2.422841e+04   -122.71    -26.30
         5                2.511559e+05  1.573681e+05   -473.00   -230.30
         6                1.204449e+05  7.795314e+04    -77.40     -9.10
         7                7.624000e+01  8.400000e+01      0.00      0.00
         8                1.151400e+02  1.200000e+02      0.00      0.00
         9                2.256000e+01  0.000000e+00      0.00      0.00
All                       6.885188e+06  4.203472e+06  15394.07   8417.23

                                              trip_distance             \
payment_type                  5           All             1          2
VendorID passenger_count
1        0                  0.0  1.297870e+03        119.70      79.60
         1                481.1  1.617847e+06     172248.60  123092.20
         2                 73.8  1.724830e+05      17614.50   14829.60
         3                 11.3  4.172685e+04       3808.40    4066.70
         4                  0.0  1.223778e+04       1008.40    1368.80
         5                  0.0  8.206500e+02         97.60      62.70
         6                  0.0  4.935200e+02         87.90      17.20
2        0                  0.0  9.349000e+02         17.50      85.62
         1                  0.0  7.756991e+06     917335.60  563914.53
         2                  0.0  6.884028e+05      77741.50   54602.89
         3                  0.0  1.520969e+05      17910.24   11997.28
         4                  0.0  6.115523e+04       6997.20    4850.08
         5                  0.0  4.078207e+05      47679.32   28794.86
         6                  0.0  1.983115e+05      21465.10   15142.55
         7                  0.0  1.602400e+02          1.34      18.60
         8                  0.0  2.351400e+02          0.04       5.63
         9                  0.0  2.256000e+01          0.00       0.00
All                       566.2  1.111304e+07    1284132.94  822928.84


payment_type                    3        4      5         All
VendorID passenger_count
1        0                  10.20     0.40    0.0      209.90
         1                4605.60  2219.60  123.8   302289.80
         2                 228.50   244.70   31.8    32949.10
         3                  79.50    78.90    2.3     8035.80
         4                  26.70     1.40    0.0     2405.30
         5                   0.00     0.00    0.0      160.30
         6                   0.00     0.00    0.0      105.10
2        0                   0.00     0.00    0.0      103.12
         1                 379.56   142.64    0.0  1481772.33
         2                  49.47     8.12    0.0   132401.98
         3                  20.84     1.87    0.0    29930.23
         4                   6.38     1.12    0.0    11854.78
         5                  23.20    11.14    0.0    76508.52
         6                   3.81     0.03    0.0    36611.49
         7                   0.00     0.00    0.0       19.94
         8                   0.00     0.00    0.0        5.67
         9                   0.00     0.00    0.0        0.00
All                       5433.76  2709.92  157.9  2115363.36

Pivot table, analogue to Excel.

In [44]:
try:
    df_taxi.pivot(index='VendorID', # y-axis
              columns='payment_type', # x-axis
              values='total_amount')
except ValueError as e:
    print(e)

Index contains duplicate entries, cannot reshape

The *pivot* method has (in contrast to *pivot_table*) no aggregation function defined, thus it raises a *ValueError* if an index-column combination is not unique.

In [48]:
df_taxi_no_dups = df_taxi[df_taxi.index.isin(
    df_taxi[['VendorID', 'payment_type']].drop_duplicates().index)]
df_taxi_no_dups

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1.0
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.00,0.0,NaN,-0.3,-4.30,3,1.0
7,2,2018-01-01 00:38:02,2018-01-01 00:55:02,N,1,189,225,5,3.45,14.5,0.5,0.5,3.16,0.0,NaN,0.3,18.96,1,1.0
15,1,2018-01-01 00:07:40,2018-01-01 00:15:20,N,1,225,37,1,1.90,8.0,0.5,0.5,3.00,0.0,NaN,0.3,12.30,1,1.0
49,1,2018-01-01 00:06:43,2018-01-01 00:20:45,N,5,136,169,1,4.20,0.0,0.0,0.0,0.00,0.0,NaN,0.0,0.00,2,2.0
470,1,2018-01-01 00:48:34,2018-01-01 00:51:25,N,5,74,42,1,1.10,0.0,0.0,0.0,0.00,0.0,NaN,0.0,0.00,3,2.0
777,2,2018-01-01 00:56:21,2018-01-01 00:56:28,N,1,130,130,1,0.04,-2.5,-0.5,-0.5,0.00,0.0,NaN,-0.3,-3.80,4,1.0
1177,1,2018-01-01 00:34:12,2018-01-01 01:07:06,N,1,66,35,1,6.50,25.5,0.5,0.5,0.00,0.0,NaN,0.3,26.80,4,1.0
15341,1,2018-01-01 14:22:16,2018-01-01 15:03:44,N,3,33,1,2,14.70,63.0,0.0,0.0,0.00,10.5,NaN,0.3,73.80,5,1.0

In [49]:
df_taxi_no_dups.pivot(index='VendorID', # y-axis
                      columns='payment_type', # x-axis
                      values='total_amount')

payment_type      1    2    3     4     5
VendorID
1             12.30  0.0  0.0  26.8  73.8
2             18.96  7.3 -4.3  -3.8   NaN

The usage of *pivot* is rather situational, usually *pivot_table* will be used.

## Joining Tables

In [30]:
payment_fees = {1: 0.05, 2: 0.01, 3: 0.1, 4: 0.008, 5: 0.015}
payment_type_df = pd.DataFrame([{'payment_type': key, 'description': value} for 
                                key, value in payments.items()])\
                                .set_index('payment_type')
payment_type_df['fees'] = payment_type_df.index.map(payment_fees)
payment_type_df

              description   fees
payment_type
1                    cash  0.050
2             credit card  0.010
3              debit card  0.100
4                    gold  0.008
5                    bill  0.015

Construction of example table for joining the taxi DataFrame

In [36]:
df_taxi.merge(payment_type_df, # 2nd DataFrame
              left_on='payment_type', # Column name for 1st df
              right_index=True, # join 2nd df on index (alternatively on column using right_on 
              how='left', # type: inner, left, right, outer
             ).head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,description,fees
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0,credit card,0.01
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0,credit card,0.01
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0,credit card,0.01
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0,debit card,0.10
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0,credit card,0.01

## Stacking and Unstacking

In [55]:
df_stacked = df_sample.stack()
df_stacked.head(20)

267782  VendorID                                   2
        lpep_pickup_datetime     2018-01-12 10:09:34
        lpep_dropoff_datetime    2018-01-12 10:18:54
        store_and_fwd_flag                         N
        RatecodeID                                 1
        PULocationID                             217
        DOLocationID                             217
        passenger_count                            1
        trip_distance                              0
        fare_amount                                7
        extra                                      0
        mta_tax                                  0.5
        tip_amount                                 0
        tolls_amount                               0
        improvement_surcharge                    0.3
        total_amount                             7.8
        payment_type                               1
        trip_type                                  1
292910  VendorID                                   2
        lpep_pickup_datetime     2018-01-13 00:31:34
dtype: object

*stack* creates a Pandas Series with a MultiIndex, whose 1st level is the index of the DataFrame (or MultiIndex, if the DataFrame had such) and its 2nd level is the column name.
The Series values are the column contents.

In [57]:
df_stacked.unstack().head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
267782,2,2018-01-12 10:09:34,2018-01-12 10:18:54,N,1,217,217,1,0,7,0,0.5,0,0,0.3,7.8,1,1
292910,2,2018-01-13 00:31:34,2018-01-13 00:40:06,N,1,74,42,1,1.67,8,0.5,0.5,0,0,0.3,9.3,2,1
256288,2,2018-01-11 20:15:59,2018-01-11 20:24:09,N,1,169,20,1,1.62,8,0.5,0.5,2.32,0,0.3,11.62,1,1
342370,1,2018-01-14 19:04:25,2018-01-14 19:23:59,N,1,226,142,1,3.8,16.5,0,0.5,3.45,0,0.3,20.75,1,1
20342,2,2018-01-01 19:17:11,2018-01-01 19:22:25,N,1,56,173,1,0.92,5.5,0,0.5,0,0,0.3,6.3,1,1

*unstack* is the reverse operation: it takes the 1st level of the MultiIndex as row index and the 2nd level as column index.

In [62]:
pd.DataFrame(df_stacked).reset_index().pivot(index='level_0', 
                                             columns='level_1', values=0).head()

level_1,DOLocationID,PULocationID,RatecodeID,VendorID,extra,fare_amount,improvement_surcharge,lpep_dropoff_datetime,lpep_pickup_datetime,mta_tax,passenger_count,payment_type,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,trip_type
level_0,,,,,,,,,,,,,,,,,,
14,75,244,1,2,0.5,19,0.3,2018-01-01 00:51:08,2018-01-01 00:36:58,0.5,2,1,N,4,0,24.3,6.01,1
1222,129,82,1,2,0.5,7,0.3,2018-01-01 01:07:02,2018-01-01 01:00:13,0.5,1,2,N,0,0,8.3,1.44,1
2659,136,69,1,2,0.5,13.5,0.3,2018-01-01 01:41:34,2018-01-01 01:23:48,0.5,1,2,N,0,0,14.8,2.92,1
4510,244,116,1,2,0.5,10,0.3,2018-01-01 01:26:56,2018-01-01 01:16:29,0.5,1,1,N,2.26,0,13.56,2.28,1
7531,258,129,1,1,0.5,26,0.3,2018-01-01 03:19:48,2018-01-01 03:00:13,0.5,1,2,N,0,0,27.3,8.5,1

*unstack* is equivalent to *pivot*, but provides a simpler syntax for this particular use case.

## Reading from and Writing to Databases

see [Relational Databases](relational_databases.ipynb#pandas).

## Gotchas

## Assignments vs. In-Place Modifications

In [91]:
df = df_sample.copy()
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
267782,2,2018-01-12 10:09:34,2018-01-12 10:18:54,N,1,217,217,1,0.00,7.0,0.0,0.5,0.00,0.0,NaN,0.3,7.80,1,1.0
292910,2,2018-01-13 00:31:34,2018-01-13 00:40:06,N,1,74,42,1,1.67,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1.0
256288,2,2018-01-11 20:15:59,2018-01-11 20:24:09,N,1,169,20,1,1.62,8.0,0.5,0.5,2.32,0.0,NaN,0.3,11.62,1,1.0
342370,1,2018-01-14 19:04:25,2018-01-14 19:23:59,N,1,226,142,1,3.80,16.5,0.0,0.5,3.45,0.0,NaN,0.3,20.75,1,1.0
20342,2,2018-01-01 19:17:11,2018-01-01 19:22:25,N,1,56,173,1,0.92,5.5,0.0,0.5,0.00,0.0,NaN,0.3,6.30,1,1.0

In [92]:
df.set_index('lpep_pickup_datetime') # returns modified df, but does not change df itself.
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
267782,2,2018-01-12 10:09:34,2018-01-12 10:18:54,N,1,217,217,1,0.00,7.0,0.0,0.5,0.00,0.0,NaN,0.3,7.80,1,1.0
292910,2,2018-01-13 00:31:34,2018-01-13 00:40:06,N,1,74,42,1,1.67,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1.0
256288,2,2018-01-11 20:15:59,2018-01-11 20:24:09,N,1,169,20,1,1.62,8.0,0.5,0.5,2.32,0.0,NaN,0.3,11.62,1,1.0
342370,1,2018-01-14 19:04:25,2018-01-14 19:23:59,N,1,226,142,1,3.80,16.5,0.0,0.5,3.45,0.0,NaN,0.3,20.75,1,1.0
20342,2,2018-01-01 19:17:11,2018-01-01 19:22:25,N,1,56,173,1,0.92,5.5,0.0,0.5,0.00,0.0,NaN,0.3,6.30,1,1.0

Note that the index in df has not been modified.
The behavior of most operations in Pandas is analogue.

In [94]:
df = df_sample.copy()
df.set_index('lpep_pickup_datetime', inplace=True)
df.head()

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2018-01-12 10:09:34,2,2018-01-12 10:18:54,N,1,217,217,1,0.00,7.0,0.0,0.5,0.00,0.0,NaN,0.3,7.80,1,1.0
2018-01-13 00:31:34,2,2018-01-13 00:40:06,N,1,74,42,1,1.67,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1.0
2018-01-11 20:15:59,2,2018-01-11 20:24:09,N,1,169,20,1,1.62,8.0,0.5,0.5,2.32,0.0,NaN,0.3,11.62,1,1.0
2018-01-14 19:04:25,1,2018-01-14 19:23:59,N,1,226,142,1,3.80,16.5,0.0,0.5,3.45,0.0,NaN,0.3,20.75,1,1.0
2018-01-01 19:17:11,2,2018-01-01 19:22:25,N,1,56,173,1,0.92,5.5,0.0,0.5,0.00,0.0,NaN,0.3,6.30,1,1.0

In [111]:
%%timeit 
df = df_sample.copy()
df.set_index('lpep_pickup_datetime', inplace=True)

2.19 ms ± 42.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Option 1: Set the *inplace* keyword argument to *True* for modification of the original Series/ DataFrame.

In [98]:
df = df_sample.copy()
df = df.set_index('lpep_pickup_datetime')
df.head()

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2018-01-12 10:09:34,2,2018-01-12 10:18:54,N,1,217,217,1,0.00,7.0,0.0,0.5,0.00,0.0,NaN,0.3,7.80,1,1.0
2018-01-13 00:31:34,2,2018-01-13 00:40:06,N,1,74,42,1,1.67,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1.0
2018-01-11 20:15:59,2,2018-01-11 20:24:09,N,1,169,20,1,1.62,8.0,0.5,0.5,2.32,0.0,NaN,0.3,11.62,1,1.0
2018-01-14 19:04:25,1,2018-01-14 19:23:59,N,1,226,142,1,3.80,16.5,0.0,0.5,3.45,0.0,NaN,0.3,20.75,1,1.0
2018-01-01 19:17:11,2,2018-01-01 19:22:25,N,1,56,173,1,0.92,5.5,0.0,0.5,0.00,0.0,NaN,0.3,6.30,1,1.0

In [112]:
%%timeit
df = df_sample.copy()
df = df.set_index('lpep_pickup_datetime')

2.64 ms ± 7.45 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Option 2: Explicitly assign the return value to the original DataFrame variable.

Both options are equally valid, personally I prefer option 2 because of the more "functional-style" syntax.

### Setting With Copy Error¶

When first slicing a dataframe and afterwards doing some modification, it is not under control if the original dataframe is changed or a copy of it. Therefore, Pandas raises a SettingWithCopy warning.

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-view-versus-copy

In [57]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
df2 = df[df.a == 0]
df2['c'] = df2.a + df2.b

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

If required (e.g. for easier identification of the line throwing the warning), this can be changed into an exception with the following setting

It is recommended to use this setting for production code (put this line directly after Pandas import in each module).

In [58]:
pd.options.mode.chained_assignment = 'raise'
#raises pandas.core.common.SettingWithCopyError

In [59]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
try:
    df2 = df[df.a ==0 ]
    df2['c'] = df2.a + df2.b
except pd.core.common.SettingWithCopyError as e:
    print(e)

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

To get rid of this error, use one of the following methods:

In [60]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
df['c'] = df.a + df.b
df2 = df[df.a == 0]
df2.head()

   a  b  c
0  0  1  1

Modification before slicing - may be slow for large data sets. Use this if the calculated column is required outside of the selected rows, too.

In [61]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
df2 = df[df.a == 0].copy()
df2['c'] = df2.a + df2.b
df2.head()

   a  b  c
0  0  1  1

Copy DataFrame - potentially large memory consumption, but it is ensured that the original DataFrame is not changed.

In [62]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
df.loc[df.a == 0, 'c'] = df.a + df.b
df.head()

   a  b    c
0  0  1  1.0
1  1  2  NaN

Modify explicitly only the selected rows of the original dataframe. The new column for rows which are not selected is filled with NaN.

### Pandas vs. List of Dictionaries

In [63]:
df_taxi = pd.read_csv(csvfile, parse_dates=[1, 2]).head(1000)

#### Pandas

In [64]:
def process_pd(df):
    df['amt_per_mile'] = df['total_amount'] / df['trip_distance'] # zero divisions give NaN
    return df

In [65]:
df_taxi2 = process_pd(df_taxi)
df_taxi2.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,amt_per_mile
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0,10.428571
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0,4.514286
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0,5.280374
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0,-143.333333
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0,143.333333

In [66]:
%timeit process_pd(df_taxi)

883 µs ± 552 ns per loop (mean ± std. dev. of 7 runs, 1000 loops each)

#### DictList

In [67]:
dict_list = df_taxi.to_dict('records')  # create list of dictionaries from Pandas DataFrame

In [68]:
dict_list[:2]

[{'VendorID': 2,
  'lpep_pickup_datetime': Timestamp('2018-01-01 00:18:50'),
  'lpep_dropoff_datetime': Timestamp('2018-01-01 00:24:39'),
  'store_and_fwd_flag': 'N',
  'RatecodeID': 1,
  'PULocationID': 236,
  'DOLocationID': 236,
  'passenger_count': 5,
  'trip_distance': 0.7,
  'fare_amount': 6.0,
  'extra': 0.5,
  'mta_tax': 0.5,
  'tip_amount': 0.0,
  'tolls_amount': 0.0,
  'ehail_fee': nan,
  'improvement_surcharge': 0.3,
  'total_amount': 7.3,
  'payment_type': 2,
  'trip_type': 1.0,
  'amt_per_mile': 10.428571428571429},
 {'VendorID': 2,
  'lpep_pickup_datetime': Timestamp('2018-01-01 00:30:26'),
  'lpep_dropoff_datetime': Timestamp('2018-01-01 00:46:42'),
  'store_and_fwd_flag': 'N',
  'RatecodeID': 1,
  'PULocationID': 43,
  'DOLocationID': 42,
  'passenger_count': 5,
  'trip_distance': 3.5,
  'fare_amount': 14.5,
  'extra': 0.5,
  'mta_tax': 0.5,
  'tip_amount': 0.0,
  'tolls_amount': 0.0,
  'ehail_fee': nan,
  'improvement_surcharge': 0.3,
  'total_amount': 15.8,
  'payment_type': 2,
  'trip_type': 1.0,
  'amt_per_mile': 4.514285714285714}]

In [69]:
def process_dl(dl):
    dl_out = []
    for line in dl:
        try:
            line['amt_per_mile'] = line['total_amount'] / line['trip_distance']
        except ZeroDivisionError:
            line['amt_per_mile'] = float('nan')
        dl_out.append(line)
    return dl_out

In [70]:
dict_list = process_dl(dict_list)

In [71]:
%timeit process_dl(dict_list)

558 µs ± 1.58 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

Processing in Pandas is at least a factor 50 faster than for a list of dictionaries. Furthermore, code is simpler and memory requirements smaller.

In [72]:
del dict_list # free up memory