# Pandas

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None # display all columns in notebook

## Download Sample Data

In [2]:
import os
import urllib.request

In [3]:
url = 'https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2018-01.csv' # 70 MB
csvfile = '../example_files/test_data.csv'
if not os.path.exists(csvfile):
    print('downloading sample data')
    urllib.request.urlretrieve(url, csvfile)

## Series

In [4]:
s = pd.Series(np.random.randn(1000))
s.head() # shows the first n (standard: 5) rows of a dataframe

0   -0.229725
1    0.248501
2    1.827603
3   -0.643470
4   -1.330106
dtype: float64

In [5]:
type(s.index), type(s.values)

(pandas.core.indexes.range.RangeIndex, numpy.ndarray)

A Pandas Series is actually a numpy array with an index.

## DataFrames

In [6]:
df_rdn = pd.DataFrame(np.random.randn(10000, 5), columns=['a', 'b', 'c', 'd', 'e'])
df_rdn.head() # shows the first n (standard: 5) rows of a dataframe

          a         b         c         d         e
0  0.168629 -1.396017  1.007475 -0.555405  0.504369
1  0.056246 -0.465622  0.480935  1.049594 -0.322133
2  0.398782  0.443204  0.221876 -0.101678 -0.113244
3  1.455685  0.080307 -0.223034  1.046918 -1.266838
4 -1.552577  0.181166 -2.392206  0.654899  0.503213

Construct a Pandas DataFrame from numpy random numbers

In [7]:
type(df_rdn.index), type(df_rdn.a), type(df_rdn.a.values), type(df_rdn['b'])

(pandas.core.indexes.range.RangeIndex,
 pandas.core.series.Series,
 numpy.ndarray,
 pandas.core.series.Series)

A DataFrame is an index combined with multiple columns. 

Each column can be extracted as a Pandas Series (the column values together with the index).

Access to columns (as Series) is either possible with the syntax df['col'] or df.col (the latter only if the column is a valid Python name, i.e. it does not contain invalid characters like spaces, +, -, etc.).

In [8]:
df_taxi = pd.read_csv(csvfile)
df_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0

In [9]:
len(df_taxi)

793529

Construct DataFrame from csv file

### Column Types

In [10]:
df_taxi.dtypes # show data types of columns

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                float64
dtype: object

Numerical data types (integers, floats) are usually detected automatically during csv import.
Date (-time) columns are not identified automatically but imported as *object* (analogue to strings).

In [11]:
df_taxi.lpep_pickup_datetime = pd.to_datetime(df_taxi.lpep_pickup_datetime)
df_taxi.lpep_dropoff_datetime = pd.to_datetime(df_taxi.lpep_dropoff_datetime)

In [12]:
df_taxi.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                       float64
dtype: object

Ex-post conversion to Pandas Datetime using *pd.to_datetime()*. An explicit datetime format can be passed if Pandas cannot identify it automatically.

In [13]:
df_taxi = pd.read_csv(csvfile, parse_dates=[1, 2])
df_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0

In [14]:
df_taxi.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                       float64
dtype: object

Datetime conversion during csv import by specifying datetime columns.

### Filtering

In [15]:
df_taxi_clean = df_taxi[df_taxi.total_amount > 0]
print(f'{len(df_taxi) - len(df_taxi_clean)} lines with non-positive payments removed')

3646 lines with non-positive payments removed

Meaning of this syntax: take all elements of df where the filter condition inside the brackets is True. The filter condition is actually a Pandas Series:

In [16]:
filter_ = df_taxi.total_amount > 0
filter_.head()

0     True
1     True
2     True
3    False
4     True
Name: total_amount, dtype: bool

In [17]:
df_taxi_clean = df_taxi[(df_taxi.total_amount > 0) & (df_taxi.passenger_count > 0)]
print(f'{len(df_taxi) - len(df_taxi_clean)} '
      f'lines with non-positive payments and passengers removed')

3817 lines with non-positive payments and passengers removed

Multiple conditions can be used for filtering using the operators & (and), | (or), ~ (not). Brackets must be made around the comparisons.

The syntax above is the most common one.

In [18]:
%timeit df_taxi_clean = df_taxi[(df_taxi.total_amount > 0) & (df_taxi.passenger_count > 0)] 
# filtering of 800k lines

130 ms ± 356 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
df_taxi_clean2 = df_taxi.loc[(df_taxi.total_amount > 0) & (df_taxi.passenger_count > 0),:]

In [20]:
pd.testing.assert_frame_equal(df_taxi_clean, df_taxi_clean2)
# raises AssertionError if DataFrames are different

In [21]:
%timeit df_taxi_clean2 = df_taxi.loc[(df_taxi.total_amount > 0) & (df_taxi.passenger_count > 0),:]

146 ms ± 159 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Alternative syntax using df.loc[row, col] gives identical results in same time.

In [22]:
df_taxi_clean3 = df_taxi.query('total_amount > 0 and passenger_count > 0')

In [23]:
pd.testing.assert_frame_equal(df_taxi_clean, df_taxi_clean3)

In [24]:
%timeit df_taxi_clean3 = df_taxi.query('total_amount > 0 and passenger_count > 0')

156 ms ± 294 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Yet another (rather exotic) filtering syntax, where the condition is given as a sting of Python code.

In [25]:
del df_taxi_clean2, df_taxi_clean3

### Vectorized Calculations on Columns

In [26]:
df_rdn['f'] = df_rdn['a'] + df_rdn.b * df_rdn.c * np.exp(df_rdn.d) / df_rdn.e
df_rdn['g'] = df_rdn.f.astype(np.int64) # type conversion
df_rdn.head()

          a         b         c         d         e         f  g
0  0.168629 -1.396017  1.007475 -0.555405  0.504369 -1.431547 -1
1  0.056246 -0.465622  0.480935  1.049594 -0.322133  2.041966  2
2  0.398782  0.443204  0.221876 -0.101678 -0.113244 -0.385627  0
3  1.455685  0.080307 -0.223034  1.046918 -1.266838  1.495963  1
4 -1.552577  0.181166 -2.392206  0.654899  0.503213 -3.210413 -3

Definition of a new column using vectorized calculations. Numpy functions can be used here (as described above, Pandas columns are actually numpy arrays).

The index makes sure that for operations with Series the rows are matched correctly.

In [27]:
df_taxi['drive_time'] = df_taxi.lpep_dropoff_datetime - df_taxi.lpep_pickup_datetime
df_taxi['avg_speed'] = df_taxi.trip_distance / (df_taxi.drive_time.dt.seconds / 3600)
df_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0,00:05:49,7.220630
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0,00:16:16,12.909836
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0,00:12:20,10.410811
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0,00:01:01,1.770492
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0,00:01:01,1.770492

Operations on Pandas Datetime and Timedelta objects.

### Apply Syntax

In [28]:
df_sample = df_taxi.sample(n=1000)

In [29]:
df_sample['useless_string']=df_sample.apply(lambda x: str(x['passenger_count'])+'_'+str(x['payment_type']),axis=1)
df_sample.useless_string.head()

355692    1_2
430185    1_1
491288    1_1
434187    2_1
73867     1_2
Name: useless_string, dtype: object

In [30]:
%timeit df_sample['useless_string']=df_sample.apply(lambda x: str(x['passenger_count'])+'_'+str(x['payment_type']),axis=1)

115 ms ± 133 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Calculations which cannot be executed on whole columns at once can be applied element-wise (usually slower but more versatile than applying on whole column).

In [31]:
df_sample['useless_string2']=df_sample.passenger_count.astype('str')+'_'+df_sample.payment_type.astype('str')
df_sample.useless_string2.head()

355692    1_2
430185    1_1
491288    1_1
434187    2_1
73867     1_2
Name: useless_string2, dtype: object

In [32]:
%timeit df_sample['useless_string2']=df_sample.passenger_count.astype('str')+'_'+df_sample.payment_type.astype('str')

6.85 ms ± 44 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [33]:
df_taxi.payment_type.unique()

array([2, 3, 1, 4, 5])

The same as vectorized syntax is more than 10 times faster.
However, the apply syntax is more flexible.

In [34]:
payments = {1: 'cash',
    2: 'credit card',
    3: 'debit card',
    4: 'gold',
    5: 'bill'}
df_sample.payment_type.apply(lambda x: payments.get(x, None)).head()

355692    credit card
430185           cash
491288           cash
434187           cash
73867     credit card
Name: payment_type, dtype: object

In [35]:
%timeit df_sample.payment_type.apply(lambda x: payments.get(x, None))

1.09 ms ± 6.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

The apply function can be used both on Pandas Series and DataFrames.

### Mapping

In [36]:
df_sample.payment_type.map(payments).head()

355692    credit card
430185           cash
491288           cash
434187           cash
73867     credit card
Name: payment_type, dtype: object

In [37]:
%timeit df_sample.payment_type.map(payments)

1.49 ms ± 5.65 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

Alternatively in this example, the map function can be used to apply a dictionary to a Pandas Series.

### Iteration over Rows

#### iterrows()

In [38]:
for index, row in df_sample.head(2).iterrows():
    print(index, row)

355692 VendorID                                   2
lpep_pickup_datetime     2018-01-15 13:13:33
lpep_dropoff_datetime    2018-01-15 13:33:28
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                              95
DOLocationID                             198
passenger_count                            1
trip_distance                           5.57
fare_amount                               19
extra                                      0
mta_tax                                  0.5
tip_amount                                 0
tolls_amount                               0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                            19.8
payment_type                               2
trip_type                                  1
drive_time                   0 days 00:19:55
avg_speed                            16.7799
useless_string                           1_2
useless_string2                          1_2
Name: 355692, dtype: object
430185 VendorID                                   2
lpep_pickup_datetime     2018-01-18 15:04:51
lpep_dropoff_datetime    2018-01-18 15:54:32
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                              55
DOLocationID                              39
passenger_count                            1
trip_distance                           9.69
fare_amount                               35
extra                                      0
mta_tax                                  0.5
tip_amount                                 0
tolls_amount                               0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                            35.8
payment_type                               1
trip_type                                  1
drive_time                   0 days 00:49:41
avg_speed                            11.7021
useless_string                           1_1
useless_string2                          1_1
Name: 430185, dtype: object

In [39]:
type(row) # iterrows returns Pandas Series

pandas.core.series.Series

In [40]:
for index, row in df_sample.iterrows():
    row['useless_string_3'] = (str(row['passenger_count']) + '_' 
                               + str(row['payment_type']))

In [41]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2

Adding new "colums" to the row dictionaries does not change the original DataFrame.

In [42]:
res = []
for index, row in df_sample.iterrows():
    res.append(str(row['passenger_count']) + '_' 
                               + str(row['payment_type']))
df_sample['useless_string_3'] = res

In [43]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2,useless_string_3
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2,1_2

In [44]:
%%timeit
res = []
for index, row in df_sample.iterrows():
    res.append(str(row['passenger_count']) + '_' 
                               + str(row['payment_type']))
df_sample['useless_string_3'] = res

279 ms ± 1.15 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

This version now adds the new column to the DataFrame, but takes about 2.5 times the time as using the row-wise apply function and about 30 times the time as the vectorized version.

In [45]:
df_mixed_type = pd.DataFrame([{'int': 1, 'float': 2.5}, {'int': 3, 'float': 3.14}])
df_mixed_type

   float  int
0   2.50    1
1   3.14    3

In [46]:
df_mixed_type.dtypes

float    float64
int        int64
dtype: object

In [47]:
for idx, row in df_mixed_type.iterrows():
    print(row['int'], type(row['int']))
    print(row['float'], type(row['float']))

1.0 <class 'numpy.float64'>
2.5 <class 'numpy.float64'>
3.0 <class 'numpy.float64'>
3.14 <class 'numpy.float64'>

*iterrows()* does not preserve data types. In the example above, the values in the integer column are converted into floats.

#### itertuples()

In [48]:
for row in df_sample.head(2).itertuples():
    print(row)

Pandas(Index=355692, VendorID=2, lpep_pickup_datetime=Timestamp('2018-01-15 13:13:33'), lpep_dropoff_datetime=Timestamp('2018-01-15 13:33:28'), store_and_fwd_flag='N', RatecodeID=1, PULocationID=95, DOLocationID=198, passenger_count=1, trip_distance=5.57, fare_amount=19.0, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=nan, improvement_surcharge=0.3, total_amount=19.8, payment_type=2, trip_type=1.0, drive_time=Timedelta('0 days 00:19:55'), avg_speed=16.779916317991635, useless_string='1_2', useless_string2='1_2', useless_string_3='1_2')
Pandas(Index=430185, VendorID=2, lpep_pickup_datetime=Timestamp('2018-01-18 15:04:51'), lpep_dropoff_datetime=Timestamp('2018-01-18 15:54:32'), store_and_fwd_flag='N', RatecodeID=1, PULocationID=55, DOLocationID=39, passenger_count=1, trip_distance=9.69, fare_amount=35.0, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=nan, improvement_surcharge=0.3, total_amount=35.8, payment_type=1, trip_type=1.0, drive_time=Timedelta('0 days 00:49:41'), avg_speed=11.702113384770211, useless_string='1_1', useless_string2='1_1', useless_string_3='1_1')

In [49]:
type(row), row[5], row.passenger_count, row.trip_distance 
# data structure similar to NamedTuple

(pandas.core.frame.Pandas, 1, 1, 9.69)

In [50]:
res = []
for row in df_sample.itertuples():
    res.append(str(row.passenger_count) + '_' 
                               + str(row.payment_type))
df_sample['useless_string_4'] = res

In [51]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2,useless_string_3,useless_string_4
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2,1_2,1_2

In [52]:
%%timeit
res = []
for row in df_sample.itertuples():
    res.append(str(row.passenger_count) + '_' 
                               + str(row.payment_type))
df_sample['useless_string_4'] = res

62.1 ms ± 126 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Itertuples is about 4 times faster than iterrows, even though it provides practically the same functionality.
In this example, *itertuples* is even faster than *apply*, however this may not always be the case.

In [53]:
for row in df_mixed_type.itertuples():
    print(row.int, type(row.int))
    print(row.float, type(row.float))

1 <class 'int'>
2.5 <class 'float'>
3 <class 'int'>
3.14 <class 'float'>

In contrast to *iterrows()*, *itertuples()* preserves data types.

#### Looping with Explicit Row Access

In [54]:
res = []
passenger_count_loc = df_sample.columns.get_loc('passenger_count')
payment_type_loc = df_sample.columns.get_loc('payment_type')
for i in range(len(df_sample)):
    res.append(str(df_sample.iloc[i,passenger_count_loc]) + '_' 
                               + str(df_sample.iloc[i,payment_type_loc]))
df_sample['useless_string_5'] = res

In [55]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2,useless_string_3,useless_string_4,useless_string_5
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2,1_2,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1,1_1,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1,1_1,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1,2_1,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2,1_2,1_2,1_2

In [56]:
%%timeit
res = []
passenger_count_loc = df_sample.columns.get_loc('passenger_count')
payment_type_loc = df_sample.columns.get_loc('payment_type')
for i in range(len(df_sample)):
    res.append(str(df_sample.iloc[i,passenger_count_loc]) + '_' 
                               + str(df_sample.iloc[i,payment_type_loc]))
df_sample['useless_string_5'] = res

74.3 ms ± 105 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Slightly different approach using *.loc* instead of *.iloc* gives much shorter code:

In [73]:
res = []
for i in df_sample.index:
    res.append(str(df_sample.loc[i, 'passenger_count']) + '_' 
                               + str(df_sample.loc[i, 'payment_type']))
df_sample['useless_string_6'] = res

In [74]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,drive_time,avg_speed,useless_string,useless_string2,useless_string_3,useless_string_4,useless_string_5,useless_string_6
355692,2,2018-01-15 13:13:33,2018-01-15 13:33:28,N,1,95,198,1,5.57,19.0,0.0,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,00:19:55,16.779916,1_2,1_2,1_2,1_2,1_2,1_2
430185,2,2018-01-18 15:04:51,2018-01-18 15:54:32,N,1,55,39,1,9.69,35.0,0.0,0.5,0.00,0.0,NaN,0.3,35.80,1,1.0,00:49:41,11.702113,1_1,1_1,1_1,1_1,1_1,1_1
491288,1,2018-01-20 15:58:29,2018-01-20 16:24:46,N,1,25,188,1,4.10,19.5,0.0,0.5,3.05,0.0,NaN,0.3,23.35,1,1.0,00:26:17,9.359543,1_1,1_1,1_1,1_1,1_1,1_1
434187,2,2018-01-18 17:05:23,2018-01-18 17:09:37,N,1,75,236,2,0.43,5.0,1.0,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,00:04:14,6.094488,2_1,2_1,2_1,2_1,2_1,2_1
73867,1,2018-01-04 01:26:15,2018-01-04 01:36:28,N,1,146,162,1,3.50,13.0,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,00:10:13,20.554649,1_2,1_2,1_2,1_2,1_2,1_2

In [75]:
%%timeit
res = []
for i in df_sample.index:
    res.append(str(df_sample.loc[i, 'passenger_count']) + '_' 
                               + str(df_sample.loc[i, 'payment_type']))
df_sample['useless_string_6'] = res

69.3 ms ± 49.6 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Looping with explicit access of DataFrame positions takes only slightly longer as *itertuples()*. The code however may be a bit more complicated.

### Summary DataFrame Calculations

1. Use vectorized calculations on Numpy arrays wherever possible. This is by far the fastest way. Note that in addition to simple calculations, practically all Numpy functions work on Numpy arrays and therefore also on Pandas Series / DataFrames.
2. If it is not possible to vectorize a calculation, use either the *apply* syntax or iterate over the DataFrame using *itertuples()* or *.loc*. If required, parallelization could be used for speed-up, see [Multithreading and Multiprocessing](parallel_computing.ipynb).
3. Never use *iterrows()*. It is much slower than *itertuples()* and does not preserve data types.

## Indices and Multi-Indices

## Grouping and Aggregation

In [78]:
taxi_grouped = df_taxi.groupby(['passenger_count', 'payment_type'])
taxi_grouped

In [80]:
taxi_grouped.mean()

                              VendorID  RatecodeID  PULocationID  \
passenger_count payment_type
1               1             1.845953    1.031332    121.545692
                2             1.854015    1.038929    118.875912
                3             1.666667    2.333333    147.000000
                4             2.000000    1.000000    149.000000
2               1             1.775510    1.163265    129.265306
                2             1.738095    1.119048    116.357143
3               1             1.800000    1.000000     86.200000
                2             1.636364    1.000000    147.454545
4               1             1.500000    1.000000    211.500000
                2             1.625000    1.500000    133.750000
5               1             2.000000    1.137931    182.620690
                2             2.000000    1.000000    111.625000
6               1             2.000000    1.285714    119.428571
                2             2.000000    1.000000     97.142857

                              DOLocationID  trip_distance  fare_amount  \
passenger_count payment_type
1               1               123.919060       3.455065    13.724543
                2               129.182482       2.449465    10.366180
                3               136.333333       0.490000    -2.166667
                4               149.000000       0.045000    -2.500000
2               1               151.306122       3.484694    14.244898
                2               123.238095       2.411190    11.142857
3               1               140.466667       3.354000    13.333333
                2                78.181818       1.980909     9.090909
4               1               131.000000       3.015000    12.500000
                2               132.125000       2.302500     7.312500
5               1               143.862069       3.095172    13.362069
                2               136.000000       2.877500    12.770833
6               1               143.571429       2.340714    11.000000
                2               102.142857       1.880000     9.285714

                                 extra   mta_tax  tip_amount  tolls_amount  \
passenger_count payment_type
1               1             0.496084  0.496084    2.494569      0.060157
                2             0.490268  0.490268    0.000000      0.014015
                3            -0.333333 -0.333333    0.000000      0.000000
                4            -0.500000 -0.500000    0.000000      0.000000
2               1             0.479592  0.479592    2.193673      0.000000
                2             0.476190  0.488095    0.000000      0.000000
3               1             0.500000  0.500000    2.814667      0.000000
                2             0.500000  0.500000    0.000000      0.000000
4               1             0.500000  0.500000    1.025000      0.000000
                2             0.437500  0.437500    0.000000      0.000000
5               1             0.482759  0.482759    2.947931      0.198621
                2             0.500000  0.500000    0.000000      0.000000
6               1             0.464286  0.464286    3.135000      0.000000
                2             0.500000  0.500000    0.000000      0.000000

                              ehail_fee  improvement_surcharge  total_amount  \
passenger_count payment_type
1               1                   NaN               0.297650     17.712037
                2                   NaN               0.294161     11.654891
                3                   NaN              -0.200000     -3.033333
                4                   NaN              -0.300000     -3.800000
2               1                   NaN               0.287755     17.804898
                2                   NaN               0.292857     12.400000
3               1                   NaN               0.300000     17.448000
                2                   NaN               0.300000     10.390909
4               1                   NaN               0.300000     14.825000
                2                   NaN               0.262500      8.450000
5               1                   NaN               0.289655     17.763793
                2                   NaN               0.300000     14.070833
6               1                   NaN               0.278571     15.620714
                2                   NaN               0.300000     10.585714

                              trip_type  amt_per_mile
passenger_count payment_type
1               1              1.007833           inf
                2              1.009732           inf
                3              1.333333    -52.483660
                4              1.000000    -85.500000
2               1              1.040816      6.678656
                2              1.023810    132.115467
3               1              1.000000      6.321971
                2              1.000000      6.176261
4               1              1.000000      5.811971
                2              1.125000      5.262157
5               1              1.034483           inf
                2              1.000000      6.056975
6               1              1.071429           inf
                2              1.000000      7.299022

Simultaneous aggregation over all columns

In [88]:
taxi_grouped.agg({'trip_distance': min, 'fare_amount': max, 'total_amount': np.median, 
                  'VendorID': 'nunique', 'trip_type': 'unique'})

                              trip_distance  fare_amount  total_amount  \
passenger_count payment_type
1               1                      0.00         53.0        14.160
                2                      0.00         61.5         9.800
                3                      0.03          0.0        -4.300
                4                      0.04         -2.5        -3.800
2               1                      0.50         55.0        16.000
                2                      0.01         52.0         9.300
3               1                      0.84         33.5        14.760
                2                      0.70         19.5         9.800
4               1                      1.60         16.0        14.825
                2                      0.43         12.5         9.050
5               1                      0.00         32.0        18.960
                2                      0.43         44.0        10.800
6               1                      0.00         28.5        14.555
                2                      0.27         13.0        10.300

                              VendorID   trip_type
passenger_count payment_type
1               1                    2  [1.0, 2.0]
                2                    2  [1.0, 2.0]
                3                    2  [1.0, 2.0]
                4                    1       [1.0]
2               1                    2  [1.0, 2.0]
                2                    2  [1.0, 2.0]
3               1                    2       [1.0]
                2                    2       [1.0]
4               1                    2       [1.0]
                2                    2  [2.0, 1.0]
5               1                    1  [1.0, 2.0]
                2                    1       [1.0]
6               1                    1  [1.0, 2.0]
                2                    1       [1.0]

Column specific aggregation functions.

In [83]:
taxi_grouped.agg({'trip_distance': [min, max], 'fare_amount': max})

                             trip_distance        fare_amount
                                       min    max         max
passenger_count payment_type
1               1                     0.00  18.54        53.0
                2                     0.00  22.50        61.5
                3                     0.03   1.10         0.0
                4                     0.04   0.05        -2.5
2               1                     0.50  11.99        55.0
                2                     0.01  14.90        52.0
3               1                     0.84  10.33        33.5
                2                     0.70   6.10        19.5
4               1                     1.60   4.43        16.0
                2                     0.43   4.80        12.5
5               1                     0.00  11.47        32.0
                2                     0.43   7.55        44.0
6               1                     0.00   7.60        28.5
                2                     0.27   3.07        13.0

More than one aggregation function may be defined per column, in this case a MultiIndex is created.

In [89]:
for idx, df in taxi_grouped:
    print(idx)
    print(df.head())

(1, 1)
    VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
13         2  2018-01-01 00:57:59   2018-01-01 01:12:26                  N
15         1  2018-01-01 00:07:40   2018-01-01 00:15:20                  N
17         1  2018-01-01 00:42:52   2018-01-01 01:00:53                  N
19         2  2018-01-01 00:34:53   2018-01-01 00:52:55                  N
20         1  2018-01-01 00:25:08   2018-01-01 00:28:27                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
13           1            97           188                1           2.71
15           1           225            37                1           1.90
17           1           145           173                1           6.90
19           1            40           113                1           4.47
20           1           179             7                1           0.50

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
13         11.5    0.5      0.5        3.84           0.0        NaN
15          8.0    0.5      0.5        3.00           0.0        NaN
17         22.0    0.5      0.5        0.00           0.0        NaN
19         16.5    0.5      0.5        3.56           0.0        NaN
20          4.5    0.5      0.5        0.00           0.0        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  amt_per_mile
13                    0.3         16.64             1        1.0      6.140221
15                    0.3         12.30             1        1.0      6.473684
17                    0.3         23.30             1        1.0      3.376812
19                    0.3         23.31             1        1.0      5.214765
20                    0.3          5.80             1        1.0     11.600000
(1, 2)
   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
2         2  2018-01-01 00:07:25   2018-01-01 00:19:45                  N
4         2  2018-01-01 00:32:40   2018-01-01 00:33:41                  N
5         2  2018-01-01 00:38:35   2018-01-01 01:08:50                  N
8         2  2018-01-01 00:05:02   2018-01-01 00:18:35                  N
9         2  2018-01-01 00:35:23   2018-01-01 00:42:07                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
2           1            74           152                1           2.14
4           1           255           255                1           0.03
5           1           255           161                1           5.63
8           1           129            82                1           1.61
9           1           226             7                1           1.87

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
2         10.0    0.5      0.5         0.0           0.0        NaN
4          3.0    0.5      0.5         0.0           0.0        NaN
5         21.0    0.5      0.5         0.0           0.0        NaN
8         10.0    0.5      0.5         0.0           0.0        NaN
9          7.5    0.5      0.5         0.0           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  amt_per_mile
2                    0.3          11.3             2        1.0      5.280374
4                    0.3           4.3             2        1.0    143.333333
5                    0.3          22.3             2        1.0      3.960924
8                    0.3          11.3             2        1.0      7.018634
9                    0.3           8.8             2        1.0      4.705882
(1, 3)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
3           2  2018-01-01 00:32:40   2018-01-01 00:33:41                  N
470         1  2018-01-01 00:48:34   2018-01-01 00:51:25                  N
753         2  2018-01-01 00:14:18   2018-01-01 00:16:12                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
3             1           255           255                1           0.03
470           5            74            42                1           1.10
753           1           112           112                1           0.34

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
3           -3.0   -0.5     -0.5         0.0           0.0        NaN
470          0.0    0.0      0.0         0.0           0.0        NaN
753         -3.5   -0.5     -0.5         0.0           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
3                     -0.3          -4.3             3        1.0
470                    0.0           0.0             3        2.0
753                   -0.3          -4.8             3        1.0

     amt_per_mile
3     -143.333333
470      0.000000
753    -14.117647
(1, 4)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
777         2  2018-01-01 00:56:21   2018-01-01 00:56:28                  N
924         2  2018-01-01 00:17:22   2018-01-01 00:18:21                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
777           1           130           130                1           0.04
924           1           168           168                1           0.05

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
777         -2.5   -0.5     -0.5         0.0           0.0        NaN
924         -2.5   -0.5     -0.5         0.0           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
777                   -0.3          -3.8             4        1.0
924                   -0.3          -3.8             4        1.0

     amt_per_mile
777         -95.0
924         -76.0
(2, 1)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
14          2  2018-01-01 00:36:58   2018-01-01 00:51:08                  N
16          1  2018-01-01 00:25:09   2018-01-01 00:42:04                  N
31          2  2018-01-01 00:56:18   2018-01-01 01:00:25                  N
56          1  2018-01-01 00:24:28   2018-01-01 00:40:27                  N
102         2  2018-01-01 00:57:30   2018-01-01 01:13:04                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
14            1           244            75                2           6.01
16            1            36           145                2           4.30
31            1            74            74                2           0.92
56            1            17            25                2           2.60
102           1           129            36                2           5.86

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
14          19.0    0.5      0.5        4.00           0.0        NaN
16          15.5    0.5      0.5        3.35           0.0        NaN
31           5.0    0.5      0.5        0.00           0.0        NaN
56          12.5    0.5      0.5        5.00           0.0        NaN
102         19.0    0.5      0.5        0.00           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
14                     0.3         24.30             1        1.0
16                     0.3         20.15             1        1.0
31                     0.3          6.30             1        1.0
56                     0.3         18.80             1        1.0
102                    0.3         20.30             1        1.0

     amt_per_mile
14       4.043261
16       4.686047
31       6.847826
56       7.230769
102      3.464164
(2, 2)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
10          2  2018-01-01 00:21:00   2018-01-01 00:39:04                  N
11          2  2018-01-01 00:56:29   2018-01-01 01:04:44                  N
86          1  2018-01-01 00:25:33   2018-01-01 00:28:47                  N
104         2  2018-01-01 00:48:43   2018-01-01 00:58:03                  N
118         1  2018-01-01 00:31:57   2018-01-01 00:47:01                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
10            1           145           129                2           4.12
11            1             7           223                2           1.22
86            1           255           255                2           0.50
104           1            83           226                2           1.96
118           1           166            74                2           2.00

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
10          16.5    0.5      0.5         0.0           0.0        NaN
11           7.0    0.5      0.5         0.0           0.0        NaN
86           4.0    0.5      0.5         0.0           0.0        NaN
104          9.0    0.5      0.5         0.0           0.0        NaN
118         11.0    0.5      0.5         0.0           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
10                     0.3          17.8             2        1.0
11                     0.3           8.3             2        1.0
86                     0.3           5.3             2        1.0
104                    0.3          10.3             2        1.0
118                    0.3          12.3             2        1.0

     amt_per_mile
10       4.320388
11       6.803279
86      10.600000
104      5.255102
118      6.150000
(3, 1)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
311         1  2018-01-01 00:24:15   2018-01-01 00:43:34                  N
318         2  2018-01-01 00:13:05   2018-01-01 00:24:55                  N
321         2  2018-01-01 00:51:41   2018-01-01 00:58:04                  N
322         2  2018-01-01 00:59:38   2018-01-01 01:02:25                  N
340         2  2018-01-01 00:08:28   2018-01-01 00:34:14                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
311           1            41            60                3           5.20
318           1            42            75                3           2.58
321           1            41            41                3           0.88
322           1            41            42                3           0.84
340           1           255           188                3           5.38

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
311         19.0    0.5      0.5        0.00           0.0        NaN
318         11.0    0.5      0.5        2.46           0.0        NaN
321          6.0    0.5      0.5        2.19           0.0        NaN
322          4.5    0.5      0.5        1.74           0.0        NaN
340         20.5    0.5      0.5        6.54           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
311                    0.3         20.30             1        1.0
318                    0.3         14.76             1        1.0
321                    0.3          9.49             1        1.0
322                    0.3          7.54             1        1.0
340                    0.3         28.34             1        1.0

     amt_per_mile
311      3.903846
318      5.720930
321     10.784091
322      8.976190
340      5.267658
(3, 2)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
297         2  2018-01-01 00:53:32   2018-01-01 01:05:39                  N
319         2  2018-01-01 00:31:09   2018-01-01 00:38:33                  N
320         2  2018-01-01 00:41:18   2018-01-01 00:45:05                  N
337         1  2018-01-01 00:35:12   2018-01-01 00:42:56                  N
341         2  2018-01-01 00:38:48   2018-01-01 00:46:56                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
297           1           256            37                3           1.88
319           1            41            42                3           1.18
320           1            42            41                3           0.94
337           1           256            80                3           1.20
341           1           188            85                3           1.16

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
297          9.5    0.5      0.5         0.0           0.0        NaN
319          7.0    0.5      0.5         0.0           0.0        NaN
320          5.0    0.5      0.5         0.0           0.0        NaN
337          7.0    0.5      0.5         0.0           0.0        NaN
341          7.5    0.5      0.5         0.0           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
297                    0.3          10.8             2        1.0
319                    0.3           8.3             2        1.0
320                    0.3           6.3             2        1.0
337                    0.3           8.3             2        1.0
341                    0.3           8.8             2        1.0

     amt_per_mile
297      5.744681
319      7.033898
320      6.702128
337      6.916667
341      7.586207
(4, 1)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
783         1  2018-01-01 00:27:02   2018-01-01 00:38:15                  N
855         2  2018-01-01 00:26:37   2018-01-01 00:43:42                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
783           1           256            80                4           1.60
855           1           167           182                4           4.43

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
783          9.0    0.5      0.5        2.05           0.0        NaN
855         16.0    0.5      0.5        0.00           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
783                    0.3         12.35             1        1.0
855                    0.3         17.30             1        1.0

     amt_per_mile
783      7.718750
855      3.905192
(4, 2)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
50          1  2018-01-01 00:35:36   2018-01-01 01:04:21                  N
84          2  2018-01-01 00:38:25   2018-01-01 00:52:28                  N
88          1  2018-01-01 00:47:19   2018-01-01 00:55:39                  N
482         1  2018-01-01 00:27:43   2018-01-01 00:32:46                  N
562         2  2018-01-01 00:15:06   2018-01-01 00:24:38                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
50            5           136           243                4           4.80
84            1           260           173                4           2.91
88            1           112           148                4           3.80
482           1            82           129                4           2.00
562           1           244            69                4           1.93

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
50           0.0    0.0      0.0         0.0           0.0        NaN
84          12.0    0.5      0.5         0.0           0.0        NaN
88          12.5    0.5      0.5         0.0           0.0        NaN
482          8.0    0.5      0.5         0.0           0.0        NaN
562          9.0    0.5      0.5         0.0           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
50                     0.0           0.0             2        2.0
84                     0.3          13.3             2        1.0
88                     0.3          13.8             2        1.0
482                    0.3           9.3             2        1.0
562                    0.3          10.3             2        1.0

     amt_per_mile
50       0.000000
84       4.570447
88       3.631579
482      4.650000
562      5.336788
(5, 1)
    VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
7          2  2018-01-01 00:38:02   2018-01-01 00:55:02                  N
28         2  2018-01-01 00:41:36   2018-01-01 00:56:36                  N
37         2  2018-01-01 00:30:52   2018-01-01 00:38:43                  N
38         2  2018-01-01 00:39:21   2018-01-01 00:48:02                  N
39         2  2018-01-01 00:59:08   2018-01-01 01:25:30                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
7            1           189           225                5           3.45
28           1           179            75                5           5.30
37           1           181           190                5           1.28
38           1           190            89                5           1.58
39           1           188            76                5           4.43

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
7          14.5    0.5      0.5        3.16           0.0        NaN
28         17.0    0.5      0.5        3.66           0.0        NaN
37          7.5    0.5      0.5        1.76           0.0        NaN
38          8.0    0.5      0.5        1.86           0.0        NaN
39         18.5    0.5      0.5        0.00           0.0        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  amt_per_mile
7                     0.3         18.96             1        1.0      5.495652
28                    0.3         21.96             1        1.0      4.143396
37                    0.3         10.56             1        1.0      8.250000
38                    0.3         11.16             1        1.0      7.063291
39                    0.3         19.80             1        1.0      4.469526
(5, 2)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0           2  2018-01-01 00:18:50   2018-01-01 00:24:39                  N
1           2  2018-01-01 00:30:26   2018-01-01 00:46:42                  N
6           2  2018-01-01 00:18:41   2018-01-01 00:28:22                  N
85          2  2018-01-01 00:52:46   2018-01-01 01:01:34                  N
159         2  2018-01-01 00:57:17   2018-01-01 01:10:19                  N

     RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0             1           236           236                5           0.70
1             1            43            42                5           3.50
6             1           189            65                5           1.71
85            1           173            56                5           1.60
159           1             7            56                5           6.36

     fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0            6.0    0.5      0.5         0.0           0.0        NaN
1           14.5    0.5      0.5         0.0           0.0        NaN
6            8.5    0.5      0.5         0.0           0.0        NaN
85           8.0    0.5      0.5         0.0           0.0        NaN
159         19.0    0.5      0.5         0.0           0.0        NaN

     improvement_surcharge  total_amount  payment_type  trip_type  \
0                      0.3           7.3             2        1.0
1                      0.3          15.8             2        1.0
6                      0.3           9.8             2        1.0
85                     0.3           9.3             2        1.0
159                    0.3          20.3             2        1.0

     amt_per_mile
0       10.428571
1        4.514286
6        5.730994
85       5.812500
159      3.191824
(6, 1)
     VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
119         2  2018-01-01 00:47:37   2018-01-01 00:53:14                  N
158         2  2018-01-01 00:14:36   2018-01-01 00:22:19                  N
268         2  2018-01-01 00:16:36   2018-01-01 00:16:45                  N

Iterating over the grouped object yields the index and content of each group.

## Pivot Tables

## Joining Tables

## Stacking and Unstacking

## Gotchas

### Setting With Copy Error¶

When first slicing a dataframe and afterwards doing some modification, it is not under control if the original dataframe is changed or a copy of it. Therefore, Pandas raises a SettingWithCopy warning.

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-view-versus-copy

In [57]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
df2 = df[df.a == 0]
df2['c'] = df2.a + df2.b

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

If required (e.g. for easier identification of the line throwing the warning), this can be changed into an exception with the following setting

It is recommended to use this setting for production code (put this line directly after Pandas import in each module).

In [58]:
pd.options.mode.chained_assignment = 'raise'
#raises pandas.core.common.SettingWithCopyError

In [59]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
try:
    df2 = df[df.a ==0 ]
    df2['c'] = df2.a + df2.b
except pd.core.common.SettingWithCopyError as e:
    print(e)

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

To get rid of this error, use one of the following methods:

In [60]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
df['c'] = df.a + df.b
df2 = df[df.a == 0]
df2.head()

   a  b  c
0  0  1  1

Modification before slicing - may be slow for large data sets. Use this if the calculated column is required outside of the selected rows, too.

In [61]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
df2 = df[df.a == 0].copy()
df2['c'] = df2.a + df2.b
df2.head()

   a  b  c
0  0  1  1

Copy DataFrame - potentially large memory consumption, but it is ensured that the original DataFrame is not changed.

In [62]:
df = pd.DataFrame([{'a' :0, 'b':1},{'a':1, 'b':2}])
df.loc[df.a == 0, 'c'] = df.a + df.b
df.head()

   a  b    c
0  0  1  1.0
1  1  2  NaN

Modify explicitly only the selected rows of the original dataframe. The new column for rows which are not selected is filled with NaN.

## Performance

### Pandas vs. List of Dictionaries

In [63]:
df_taxi = pd.read_csv(csvfile, parse_dates=[1, 2]).head(1000)

#### Pandas

In [64]:
def process_pd(df):
    df['amt_per_mile'] = df['total_amount'] / df['trip_distance'] # zero divisions give NaN
    return df

In [65]:
df_taxi2 = process_pd(df_taxi)
df_taxi2.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,amt_per_mile
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0,10.428571
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0,4.514286
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0,5.280374
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0,-143.333333
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0,143.333333

In [66]:
%timeit process_pd(df_taxi)

883 µs ± 552 ns per loop (mean ± std. dev. of 7 runs, 1000 loops each)

#### DictList

In [67]:
dict_list = df_taxi.to_dict('records')  # create list of dictionaries from Pandas DataFrame

In [68]:
dict_list[:2]

[{'VendorID': 2,
  'lpep_pickup_datetime': Timestamp('2018-01-01 00:18:50'),
  'lpep_dropoff_datetime': Timestamp('2018-01-01 00:24:39'),
  'store_and_fwd_flag': 'N',
  'RatecodeID': 1,
  'PULocationID': 236,
  'DOLocationID': 236,
  'passenger_count': 5,
  'trip_distance': 0.7,
  'fare_amount': 6.0,
  'extra': 0.5,
  'mta_tax': 0.5,
  'tip_amount': 0.0,
  'tolls_amount': 0.0,
  'ehail_fee': nan,
  'improvement_surcharge': 0.3,
  'total_amount': 7.3,
  'payment_type': 2,
  'trip_type': 1.0,
  'amt_per_mile': 10.428571428571429},
 {'VendorID': 2,
  'lpep_pickup_datetime': Timestamp('2018-01-01 00:30:26'),
  'lpep_dropoff_datetime': Timestamp('2018-01-01 00:46:42'),
  'store_and_fwd_flag': 'N',
  'RatecodeID': 1,
  'PULocationID': 43,
  'DOLocationID': 42,
  'passenger_count': 5,
  'trip_distance': 3.5,
  'fare_amount': 14.5,
  'extra': 0.5,
  'mta_tax': 0.5,
  'tip_amount': 0.0,
  'tolls_amount': 0.0,
  'ehail_fee': nan,
  'improvement_surcharge': 0.3,
  'total_amount': 15.8,
  'payment_type': 2,
  'trip_type': 1.0,
  'amt_per_mile': 4.514285714285714}]

In [69]:
def process_dl(dl):
    dl_out = []
    for line in dl:
        try:
            line['amt_per_mile'] = line['total_amount'] / line['trip_distance']
        except ZeroDivisionError:
            line['amt_per_mile'] = float('nan')
        dl_out.append(line)
    return dl_out

In [70]:
dict_list = process_dl(dict_list)

In [71]:
%timeit process_dl(dict_list)

558 µs ± 1.58 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

Processing in Pandas is at least a factor 50 faster than for a list of dictionaries. Furthermore, code is simpler and memory requirements smaller.

In [72]:
del dict_list # free up memory